// Core colours
$brand-colour: #ffd479;
$border-colour: silver;

// Slide colours
$slide-background-colour-dark: #1e1e1e;
$slide-background-colour-light: white;
$text-colour-dark: #ffd479;
$text-colour-light: #1e1e1e;
$border-colour: #ffd479;

// Focus colours
$focus-bg-colour: gold;
$focus-colour: $slide-background-colour-dark;
$focus-outline-colour: $slide-background-colour-dark;
