// Core colours
$brand-colour: #990000;
$border-colour: silver;
$lightest-purple: #F5F5FF;

// Slide colours
$slide-background-colour: white;
$primary-text-colour: #111111;
$secondary-text-colour: #505a5f;
$border-colour: #b1b4b6;

// Focus colours
$focus-bg-colour: gold;
$focus-colour: $primary-text-colour;
$focus-outline-colour: $primary-text-colour;
